@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20vh;
}

div{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

button{
    background-color: red;
    width: 150px;
    height: 10vh;
    border: none;
    color: white;
    font-size: 16px;
    
}


button:hover{
    background-color: transparent;
    border: 3px solid red;
    width: 150px;
    height: 10vh;
    color: red;
    font-size: 16px;
}